CAMERA_INDEX=0
MAX_SITTING_MINUTES=60
MAX_LYING_MINUTES=120
FALL_RECORD_SECONDS=10
NO_PERSON_TIMEOUT=300
MEDICATION_GRACE_PERIOD=300

EMAIL_ENABLED=false
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=
CAREGIVER_EMAIL=
